In [1]:

import pandas as pd
#import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
from tqdm import tqdm, tqdm_notebook

In [3]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

In [7]:
cd C:\Users\Ian Mutuma\OneDrive - Shujaaz Inc\Documents\py

C:\Users\Ian Mutuma\OneDrive - Shujaaz Inc\Documents\py

In [9]:
df = pd.read_excel("loc_nrd_clean.xlsx")

In [10]:
df = pd.DataFrame(df)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903 entries, 0 to 2902
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2903 non-null   object
 1   Max of date  2903 non-null   datetime64[ns]
 2   geolocation  2903 non-null   object
 3   lat          2903 non-null   float64
 4   long         2903 non-null   float64
 5   device       2903 non-null   object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 136.2+ KB

In [12]:
tqdm.pandas()
df["address"] = df["geolocation"].progress_apply(rgeocode)
df.head()

100%|██████████████████████████████████████████████████████████████████████████████| 2903/2903 [24:12<00:00,  2.00it/s]

,id,Max of date,geolocation,lat,long,device,address
0,8e9df0b7-f733-4bd7-90ed-d6d71a8d2184,2022-01-15 06:40:44,"-1.2403969,36.6152971",-1.240397,36.615297,Android (8.1.0),"(Kiambu, Central Kenya, Kenya, (-1.24038307884..."
1,a932b3e3-9703-4e93-b68e-8d4511328aa1,2022-01-14 17:14:10,"-1.2780598,36.6164133",-1.278060,36.616413,Android (9),"(Kiambu, Central Kenya, Kenya, (-1.27805722294..."
2,138825b3-f22e-4a4f-a8a0-a82f8e2fa0c3,2022-01-30 05:28:32,"-1.2841568,36.6166467",-1.284157,36.616647,samsung(SM-A022F) - (10),"(Kiambu, Central Kenya, Kenya, (-1.28487849534..."
3,373cc8fb-c109-4830-af4f-c06684b6ede8,2022-02-09 07:05:00,"-1.2376618,36.6185162",-1.237662,36.618516,Infinix(Infinix X624B) - (8.1.0),"(Kamangu Kikuyu Road, Kikuyu, Kiambu, Central ..."
4,6fc90239-ef2b-4329-b0ca-145b8d32bfcc,2022-01-14 10:26:14,"-1.2826011,36.622382",-1.282601,36.622382,Android (9),"(Gikambura, Kiambu, Central Kenya, Kenya, (-1...."

In [13]:
df.to_excel("Nrb_loc.xlsx")